html{
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
    color: #ff9f1a;
    background-image: url(../imgs/sharon-mccutcheon-532782-unsplash.jpg);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-top: 0;
}
h2{
    font-size: 30px;
    box-align: left;
    margin-left: 120px;
}

#txtNav{
    font-size: 20px;
    color: antiquewhite;
    margin: 0 10px;
}
.header_principal{
    background-color:#b33939;
    padding-left: 1px;
    padding-right: 1px;
}


.header_principal img{
   width: 85px;
   height: auto;
    display: inline-block;
    padding-left: 15px;
}

.header_principal nav{
    width: 350px;
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header_principal nav a{
    color: #ffda79;
    text-decoration: none;/*quita subrayado*/
    margin-right: 20px;

}

.navLateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navLateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navLateral a:hover {
    color: #f1f1f1;
}

.navLateral .cerrarbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Inicio: estilos de las tablas*/
.tabla {
     margin-left: 30px;
    align-content: center;
    
    }
.tabla thead{
    background: #596275;
    color: antiquewhite;
    margin-left: 15px;

}

.tabla th, .tabla td{
    text-align: center;
    padding: 20px 25px 25px 25px;
}

.tabla tbody tr:hover{
    background-color: rgba(106, 176, 76,0.5);
}
/*Fin: estilos de las tablas*/
/* Boton customizado*/
.custom_button {
    display: block;
    border-radius: 4px;
    background-color: rgba(10, 61, 98,1.0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px auto 80px;
  }

  .custom_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .custom_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.custom_button:hover span {
    padding-right: 25px;
  }
  
.custom_button:hover span:after {
    opacity: 1;
    right: 0;
  }
    

.divSubirImagen{
    margin-left: 100px;
    float: left;
}

.divSubirImagen img{
    width: 300px;
    height:400px;
}
.contenedorConGrid {
    display: grid;
    padding: 100px;
    width: 90%;
  }
.contenedorConGrid > div {
     font-size: 20px;
     }
.divFormIzquierdo, .divSubirImagen{
    grid-row-start: 1;
    grid-row-end: 2;

    width: 400px;
  }

.btn{
        font-family: inherit;
        font-size: 12px;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
.divSubirImagen input:hover {
        opacity: 0.8;
    }

.divFormIzquierdo #direccionSucursal{
    width: 200px;
    height: 100px;
}
    
.mapa {
float: right;}

.footer { 
    height: 100px;
    background:#b33939;
   text-align: center;
   position: sticky;
   margin-top:100px;
   font-family: 'Grand Hotel', cursive;
   font-size: 40px;
   color: rgba(250, 211, 144,0.9);
   }


datalist { 
    display: none;
}