html{
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
    color: #ff9f1a;
    background-image: url(../imgs/sharon-mccutcheon-532782-unsplash.jpg);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-top: 0;
}
.filtroSuperior{
    border-bottom: none;
}
h2{
    font-size: 30px;
    box-align: left;
    margin-left: 20px;
    padding-top: 30px;
    border-bottom: 2px solid #222222;
}

#txtNav{
    font-size: 20px;
    color: antiquewhite;
    margin: 0 10px;
}
.header_principal{
    background-color:#b33939;
    padding-left: 1px;
    padding-right: 1px;
}


.header_principal img{
   width: 85px;
   height: auto;
    display: inline-block;
    padding-left: 15px;
}

.header_principal nav{
    width: 350px;
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header_principal nav a{
    color: #ffda79;
    text-decoration: none;/*quita subrayado*/
    margin-right: 20px;

}

.navLateral {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navLateral a {
    padding: 8px 8px 6px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #f8ecb7;
    display: block;
    transition: 0.3s;
}

.navLateral ul {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #e65e5e;
    display: block;
    transition: 0.3s;
}
.navLateral a:hover {
    color: #f1f1f1;
}

.navLateral ul:hover {
    color: #e65e5e;
}
.navLateral .cerrarbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Inicio: estilos de las tablas*/
.tabla {
    margin: 15px;
    position: relative;;
    width:98%;
    border:3px solid rgb(7, 7, 7);
    word-wrap: break-word;
    overflow: hidden;
    table-layout: fixed;
    }
    
.tabla thead{
    background: #596275;
    color: antiquewhite;
    margin-left: 15px;

}

.tabla th, .tabla td{
    text-align: center;
    padding: 10px 15px 15px 15px;
}

.tabla tbody tr:hover{
    background-color: rgba(106, 176, 76,0.5);
}
/*Fin: estilos de las tablas*/
/* Boton customizado*/
.custom_button {
    display: block;
    border-radius: 4px;
    background-color: rgba(10, 61, 98,1.0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px auto 80px;
  }

  .custom_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .custom_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.custom_button:hover span {
    padding-right: 25px;
  }
  
.custom_button:hover span:after {
    opacity: 1;
    right: 0;
  }
    

.divSubirImagen{
    margin-left: 100px;
    float: left;
}

.divSubirImagen img{
    width: 50%;
    height:50%;
}

.imgUsuario{
    width: 80px;
    height:90px;
}
.contenedorConGrid {
    display: grid;
    padding: 80px;
    width: 95%;
  }
.contenedorConGrid > div {
     font-size: 20px;
     }
.divFormIzquierdo, .divSubirImagen{
    grid-row-start: 1;
    grid-row-end: 2;

    width: 400px;
  }

  .filtroSuperior, .btnSuperior{
    grid-row-start: 1;
    grid-row-end: 2;
  }

 
  td img{
    width: 128px;
    height:  185px;  
  }
.btn{
        font-family: inherit;
        font-size: 12px;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
.divSubirImagen input:hover {
        opacity: 0.8;
    }

.divFormIzquierdo #direccionSucursal{
    width: 200px;
    height: 100px;
}
   

.mapa {
float: right;}



#filtrarLibros {
    background-image: url('../imgs/teabag.png');
    background-size: 15%;
    background-position: 2px 4px;
    background-repeat: no-repeat;
    width: 25%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    text-align: left;
    
  }
  
  #btnAgregar{
      margin: 0 80px;
      text-align: right;
      float: right;
      padding: none;
      width: 140px;
      height: 44px;
      font-family : inherit;
      font-size: 20px;
      background-color:#b33939;
      background-image: url("../imgs/kisspng-book-computer-icons-scalable-vector-graphics-bibli-icons-png-book-download-5ab02dd126acc2.7187615015214955051584.png");
      background-size: 20%;
      background-repeat: no-repeat;
      background-position: 20px 8px;
      color: #ffda79;
      border-radius: 5px;
      border: none;
  }

  #btnAgregar:hover{
      background-color: rgb(238, 215, 82);
      color:#222222;
}
.footer { 
    height: 100px;
    background:#b33939;
   text-align: center;
   position: sticky;
   margin-top:100px;
   font-family: 'Grand Hotel', cursive;
   font-size: 40px;
   color: rgba(250, 211, 144,0.9);
   }


datalist { 
    display: none;
}