
/*Inicio del grid para FORMULARIO REGISTRO SUCURSALES*/


 

 /*Fin del grid para FORMULARIO REGISTRO SUCURSALES*/

.divFormIzquierdo form{
    padding-top: 20px;
    width: 200px;  
}

.divFormIzquierdo div{
padding-bottom: 40px;  
}
.divFormIzquierdo input{
    width: 100%;
    height: 30px; 
    font-size: 18px;   
}






/* INICIO boton registrar*/
.btn{
    margin: 10% 39% 30%;  
}
.btn_registrar {
    display: block;
    border-radius: 4px;
    background-color: rgba(10, 61, 98,1.0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px auto 80px;
    box-align: center;
  }
  
  .btn_registrar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn_registrar span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.btn_registrar:hover span {
    padding-right: 25px;
  }
  
.btn_registrar:hover span:after {
    opacity: 1;
    right: 0;
}

/* FIN boton registrar*/



.footer { 
    width: 100%;
    height: 100px;
    background:#b33939;
   text-align: center;
   margin-top:100px;
   font-family: 'Grand Hotel', cursive;
   font-size: 40px;
   color: rgba(250, 211, 144,0.9);
   }
